*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-variant: small-caps;
}

a{
text-decoration: none;
}
body {
  background-image: url(../image/Aboutmebg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: black;
  font-size:16px;
  line-height: 1.6;

}

     /* Navigation Bar */
.navbar-container{
  position:fixed;
  left:0;
  right:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-logo{
  font-size: 1.5rem; 
  margin-left:15px;
  color:white;
  font-weight: bold;

}
.header-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:13px;
  width:350px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: lighter;
  margin-right:70px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.25);
  background:linear-gradient(to right,rgba(0, 0, 0, 0),rgba(0, 172, 240, 0.950)); 

}
.header-links a{
  font-size:1rem;
  color:white;
  font-weight: bold;
  padding:8px 20px;
  border-radius:50px;
}
.header-links a:hover{
    background-color:white;
    color:#00abf0; 
    transition: all 300ms ease-in-out; 
}

.hmenu{
  display:none;
  width:20px;
  height:2px;
  margin-top:5px;
  border-radius:10px;
  background-color: white;
  transition: all 300ms ease-in-out;

}
 
/* section 1*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  margin-top:100px;
  padding:40px;
  color: white;
  background: linear-gradient(to left, rgb(0, 172, 240, 0.30), rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  border:2px solid white;
  width:85vw;

}
.about-heading {
  font-size:2rem;
  color: #03b8ff;
}
hr {
  width: 100%;

}


.about-description {
  margin:20px 0;
  font-weight: 500;
  font-size:1.6rem;
  text-align: justify;
}

.details-box h6 {
  color:#00abf0;
  font-size:1.3rem;
  word-spacing: 3px;
  line-height:2;
  font-weight: 500; 
}

strong {
  color: white;
  margin-left: 10px;
}

strong a {
  color: white;
}

/* button */

.button-primary {
  margin:15px 10px 10px 0;
  border: none;
  padding: 10px;
  font-size:1rem;
  font-weight: bold;
  background: linear-gradient(to right, rgb(0, 172, 240), rgba(0, 172, 240, 0.25));
  border-radius: 4px;
  color: white;

}

.button-primary:hover {
  background: linear-gradient(to right, rgb(0, 172, 240), rgba(255, 0, 0, 0.600));
  transition: 0.5s;
}

.icon-link__container {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  left: 1px;
  bottom: 1px;
  width: 130px;
  border-radius: 50%;

}

img {
  width: 30px;
}

#icon3 {
  background-color: white;
  border-radius: 60%;
  border: 1px solid white;
}

         /* Media Query   */

@media all and (max-width:768px) {
.navbar-container{
    background:linear-gradient(to right,rgba(0, 172, 240, 0.3),rgba(238, 130, 238, 0.8));
  }

.header-links{
  display: none;
  flex-direction: column;
  gap:15px;
  position:absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  width:60vw;
  border-radius:8px;
  background:linear-gradient(90deg,rgba(238, 130, 238, 0.8),rgba(0, 172, 240, 0.3));
}
.header-links a:hover{
  background-color: white;
  color:violet; 
  transition: all 300ms ease-in-out; 
}

.showmenu{
  display: flex;
}

.hmenu{
  display: block;
  margin-right:5px;
  transform-origin:left center;
}


.Ahmenu :nth-child(1){
  rotate: 45deg;
}

.Ahmenu :nth-child(2){
  opacity: 0;

}

.Ahmenu :nth-child(3){
rotate:-45deg;
}



/* Section  */

/* About Container */

.about-description {
  font-size:1.3rem;
}
.details-box h6 {
  font-size:1.1rem;
}

strong {
  color: white;
  margin-left:10px;
}

/* Button */
.button-primary {
  font-size:0.90rem;
}

}

@media all and (max-width:425px){
  
/* About Container */

.about-container {
  padding:15px;
 
}
.about-description {
  font-size:1.1rem;
}
.details-box h6 {
  font-size:1rem;
}

/* Button */
.button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-primary {
  font-size:0.90rem;
}
}
  

@media all and (max-width:375px){
  
/* About Container */

.about-description {
  font-size:0.95rem;
}
.details-box h6 {
  font-size:0.80rem;
}

/* Button */
.button-primary {
  font-size:0.70rem;
}
  
}