html{
  font-size: 100%;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-variant: small-caps;
    text-decoration: none;
}
body{
background-image: url(../image/homebg.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size:cover ;
background-position: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: black;
font-size: 10px;
line-height: 1.6;

    
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0%;
  right: 0%;
  padding:10px;
  background:linear-gradient(to right,rgb(0, 172, 240,0.80),rgba(255, 0, 0, 0.80));         
  
  
  }

.navbar a{
  font-size:2em;
  color:#ededed;
  margin-left:2em;
  border-radius:2px;
  padding:6px;
  font-weight: bold;
}
  .navbar a:hover{
    background-color: #00abf0;
    color:white; 
    transition: 0.5s; 
    }
    .logo{  
      margin-top:0px ;
      margin-inline: 50px;
      margin-bottom:0px;
      font-family: monospace;
      font-weight: bold;
      font-size: 25px;
      color:white;
   }
.box-head{
  height:7.2em;
}
/* section  1********************************************* */
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:89vh;
  
}
.name{
  color: #00abf0;
  font-weight:bold;
  font-size:7em;
  
}
.name-description{
  text-align: justify;
  font-size:4.2em;
  width:80vw;
  color: white;

}
.button-container{
  margin-top:5em;
  margin-bottom:5em;
}


.button-primary,.button-secondary{
  padding:14px;
  width:8em;
  border: none;
  font-size:1.8em;
  font-weight: bold;
  background:linear-gradient(to right,rgb(3, 184, 255),rgba(0, 172, 240, 0.05));
  border:2px solid white;
  color: white;
  border-radius:4px;
  
  
}
.button-secondary{
  margin-left:3em;
}
.button-primary:hover,.button-secondary:hover{
  background:linear-gradient(to right,rgb(0, 172, 240),rgba(255, 0, 0, 0.600)) ;  
    border:2px solid white;
    transition: 0.5s;

}

.icon-link__container{
  display: flex;
  justify-content:space-evenly;
  position: fixed;
  left:1px;
  bottom:1px;
  width:130px;
  border-radius: 50%;
 
}
img{
  width:30px;
}
#icon3{
  background-color: white;
  border-radius:60%;
  border:1px solid white;
}

