
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-variant: small-caps;
}

a{
  text-decoration: none;
}
body{
background-color: black;
background-image: url(../image/servicebg.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size:cover ;
background-position: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:16px;
line-height: 1.6;
}
              /* Navigation Bar */
.navbar-container{
  position:fixed;
  left:0;
  right:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-logo{
  font-size: 1.5rem; 
  margin-left:15px;
  color:white;
  font-weight: bold;

}
.header-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:13px;
  width:350px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: lighter;
  margin-right:70px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.25);
  background:linear-gradient(to right,rgba(0, 0, 0, 0),rgba(0, 172, 240, 0.950)); 

}
.header-links a{
  font-size:1rem;
  color:white;
  font-weight: bold;
  padding:8px 20px;
  border-radius:50px;
}
.header-links a:hover{
    background-color:white;
    color:#00abf0; 
    transition: all 300ms ease-in-out; 
}

.hmenu{
  display:none;
  width:20px;
  height:2px;
  margin-top:5px;
  border-radius:10px;
  background-color: white;
  transition: all 300ms ease-in-out;

}
 

                              /* section  1*/ 

section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name{
  color: #00abf0;
  font-weight:bold;
  font-size:4.5rem;
}
.name-description{
  text-align: justify;
  font-size:3rem;
  width:80vw;
  color: white;

}
.button-container{
  margin-top:2rem;
}


.button-primary,.button-secondary{
  font-size:1.2rem;
  font-weight:bold;
  padding:10px 35px;
  border: none;
  border-radius:4px;
  color: white;
  background:linear-gradient(to right,rgb(3, 184, 255),rgba(0, 172, 240, 0.05));

}
.button-secondary{
  margin-left:50px;
}
.button-primary:hover,.button-secondary:hover{
    background-color:violet;
    color: white;
    transition:all  300ms ease;

}

.icon-link__container{
  display: flex;
  justify-content:space-evenly;
  position: fixed;
  left:1px;
  bottom:1px;
  width:130px;
  border-radius:50%;
 
}
img{
  width:30px;
}
#icon3{
  background-color: white;
  border-radius:60%;
  border:1px solid white;
}



                              /* Media Query   */
@media all and (max-width:930px){
  .name{
    font-size:3.5rem;
  }
  .name-description{
    font-size:2.2rem;
  }
  button[class^="button"]{
    font-size: 1rem ;
  }
}

@media all and (max-width:768px) {

.navbar-container{
  background:linear-gradient(to right,rgba(0, 172, 240, 0.3),rgba(238, 130, 238, 0.8));
}
/* Navigation Bar */
.header-links{
  display: none;
  flex-direction: column;
  gap:15px;
  position:absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  width:60vw;
  border-radius:8px;
  background:linear-gradient(90deg,rgba(238, 130, 238, 0.8),rgba(0, 172, 240, 0.3));

} 
.header-links a:hover{
  background-color: white;
  color:violet; 
  transition: all 300ms ease-in-out; 
}

.showmenu{
  display: flex;
}

.hmenu{
  display: block;
  margin-right:5px;
  transform-origin:left center;
}


.Ahmenu :nth-child(1){
  rotate: 45deg;
}

.Ahmenu :nth-child(2){
  opacity: 0;

}

.Ahmenu :nth-child(3){
 rotate:-45deg;
}

/* Section 1 */
.name{
  font-size:3.2rem;
}

.name-description{
  font-size:2rem;
  width:90vw;

}
button[class^="button"]{
  font-size: 1rem ;
}

}

@media all and (max-width:650px) {

  /* Section 1 */
.name{
  font-size:3.1rem;
}

.name-description{
  font-size:1.8rem;

}
button[class^="button"]{
  font-size: 1rem ;
}

}
@media all and (max-width:550px) {

  /* Section 1 */
.name{
  font-size:3rem;
}

.name-description{
  font-size:1.5rem;

}
button[class^="button"]{
  font-size: 1rem ;
}

}
@media all and (max-width:420px) {

  /* Section 1 */
.name{
  font-size:2.4rem;
  margin: 20px 0px;
}

.name-description{
  font-size:1.2rem;
  margin: 20px 0px;
  line-height:2.3;

}
.button-container{
  display: flex;
  justify-content: space-between;

}
button[class^="button"]{
  font-size: 0.8rem ;
  margin: 0px;
  padding: 10px 25px;
}

}