
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-variant: small-caps;
}

a{
text-decoration: none;
}
  body{
  background-image: url(../image/contactbg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: black;
  font-size: 10px;
  line-height: 1.6;
  
      
  }
                 /* Navigation Bar */
.navbar-container{
  position:fixed;
  left:0;
  right:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-logo{
  font-size: 1.5rem; 
  margin-left:15px;
  color:white;
  font-weight: bold;

}
.header-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:13px;
  width:350px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: lighter;
  margin-right:70px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.25);
  background:linear-gradient(to right,rgba(0, 0, 0, 0),rgba(0, 172, 240, 0.950)); 

}
.header-links a{
  font-size:1rem;
  color:white;
  font-weight: bold;
  padding:8px 20px;
  border-radius:50px;
}
.header-links a:hover{
    background-color:white;
    color:#00abf0; 
    transition: all 300ms ease-in-out; 
}

.hmenu{
  display:none;
  width:25px;
  height:3px;
  margin-top:5px;
  border-radius:10px;
  background-color: white;
  transition: all 300ms ease-in-out;

}
 
  
  /* section 1********************************************* */

  .main-container{
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
  }
  .project-heading{
    margin-top:80px;
    color: white;
    text-align:center;
    font-size:2rem;
    text-decoration:underline;
    text-decoration-color: #00abf0;
   
  }

  .project-container{
    margin-top:3rem;
    font-size:2em;
    width: 90vw;
    display: flex;
    justify-content: center;
    padding:25px;
    background:linear-gradient(to top,rgb(0, 172, 240,0.40),rgba(0, 0, 0, 0.90)) ;
    color: white;
    border-radius:8px;

  }
.project-img{
 width:400px;
 border-radius:10px;
}
.project-title{
  color: #00abf0;
}
.project-details{
  margin:0px 0px 0px 10px;
  padding:0px 0px 0px 10px;
}
/* button ***************************** */
.button-primary{
  border: none;
  width:8em;
  padding:8px;
  font-size:1em;
  font-weight:bold;
  background:linear-gradient(to right,rgb(0, 172, 240),rgba(0, 172, 240, 0.25));
  border:2px solid white;
  border-radius:4px;
  color: white;

}
.button-primary:hover{
  background:linear-gradient(to right,rgb(0, 172, 240),rgba(255, 0, 0, 0.600)) ;
  border:2px solid white;
  transition:0.5s;
}
#btn1{
  margin-top:2em;
}
#btn2{
  margin-top:0.4em;
}
#btn3{
  margin-top:1em;
}

              /* Media Query   */

@media all and (max-width:768px) {



.header-links{
  display: none;
  flex-direction: column;
  gap:15px;
  position:absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  width:50vw;
  border-radius:8px;
  background:linear-gradient(0deg,rgba(0, 0, 0,0.900),rgba(0, 172, 240, 0.937)); 
}
.header-links a:hover{
  background-color: white;
  color:#00abf0; 
  transition: all 300ms ease-in-out; 
}

.showmenu{
  display: flex;
}

.hmenu{
  display: block;
  margin-right:5px;
  transform-origin:1px 2px;
}


.Ahmenu :nth-child(1){
  rotate: 45deg;
}

.Ahmenu :nth-child(2){
  opacity: 0;

}

.Ahmenu :nth-child(3){
rotate:-45deg;
}


}